<div class="widget">
    <h3>Brands</h3>

    <div class="list-group list-group-brand">

      
    @foreach (var item in Model)
    {
        <a href="#" class="list-group-item">@item.Name</a>


    }


    </div><!-- End .list-group -->
</div>
