<div class="widget popular">
    <h3>Popular</h3>

    <div class="related-slider flexslider sidebarslider">
        <ul class="related-list clearfix">
            <li>
                <div class="related-product clearfix">
                    <figure>
                        <img src="images/products/iphone" alt="item1">
                    </figure>
                    <h5><a href="#">Iphone 6 16gb</a></h5>
                    <div class="ratings-container">
                        <div class="ratings">
                            <div class="ratings-result" data-result="84"></div>
                        </div><!-- End .ratings -->
                    </div><!-- End .rating-container -->
                    <div class="related-price">400 &euro;</div><!-- End .related-price -->
                </div><!-- End .related-product -->

            </li>

        </ul>
    </div><!-- End .related-slider -->
</div>

